{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
  <h2>Gestion {{page_name}}</h2>
  <main>
    <article>
      {%include 'tenant/data_visualizer/selected.html.twig' %}
      {%include 'tenant/data_visualizer/contract.html.twig' %}
    </article>
    {% include 'controller/form/tenant.html.twig' %}
  </main>
{% endblock %}
