{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
  <main>
    <header class="page-header">
      <h2>Gestion {{ page_name }}</h2>

    </header>
{#    <article>#}
{#      {%include 'tenant/data_visualizer/_contract.html.twig' %}#}
{#    </article>#}
{#    {% include 'controller/form/_tenant.html.twig' %}#}
  </main>
{% endblock %}
