{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
  <main>
    <header class="page-header">
      <h2>Gestion {{ page_name }}</h2>
      <nav class="dropdown">
        <div class="btn btn-dropdown">
          <p>voir formulaire</p>
          <span class="icon-content">
					  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
						  <path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/>
					  </svg>
				  </span>
        </div>
        <div class="dropdown-menu close">
        </div>
      </nav>
    </header>

    <article class="view-data">
      <article class="data-container">
        <div class="flex-container">
          {% include 'controller/data-visualizer/tenant/_selected.html.twig' %}
        </div>
      </article>
      <article class="data-container">
        <div class="container">
          <h4>Contracts</h4>
          <section class="dua-grid">
            {% include 'controller/data-visualizer/contract/_card.html.twig' %}
          </section>
        </div>
      </article>
    </article>

    {% include 'controller/form/_canvas.html.twig' %}
  </main>
{% endblock %}
