<header id="navbar">
  <nav>
    <a href="{{ path('app_apartment') }}">Apartment</a>
    <a href="{{ path('app_owner') }}">Owner</a>
    <a href="{{ path('app_tenant') }}">Tenant</a>
    <a href="{{ path('app_contract') }}">contract</a>
  </nav>
</header>