<header id="navbar">
  <nav>
    <a href="{{ path('app_apartment') }}">Apartment</a>
    <a href="{{ path('app_owner') }}">owner</a>
    <a href="{{ path('app_tenant') }}">tenant</a>
    <a href="{{ path('app_contract') }}">contract</a>
  </nav>
</header>