<section>
  <h3>Contract Info</h3>
  <div class="data-container">
    {% for contract in contracts %}
      <section class="data-folder">
        <div>
          <span class="data-content">
            <p class="data-name">début</p>
            <p>{{ contract.startAt | date('d/m/Y') }}</p>
          </span>

          <span class="data-content">
            <p class="data-name">fin</p>
            <p>{{ contract.endAt | date('d/m/y') }}</p>
          </span>
        </div>
        <div>
{#          <a href="{{ path('',{'id':contract.id})}}">See</a>#}
        </div>
      </section>
    {% endfor %}
  </div>
</section>