<section>
  <h3>Contract Info</h3>
  <div class="data-container">
    {% for data in contracts %}
      <section class="data-folder">
        <div>
          <span class="data-content">
            <p class="data-name">début</p>
            <p>{{ data.contract.startAt | date('d/m/Y') }}</p>
          </span>

          <span class="data-content">
            <p class="data-name">fin</p>
            <p>{{ data.contract.endAt | date('d/m/y') }}</p>
          </span>

          <span class="data-content">
            <p class="data-name">ville</p>
            <p>{{ data.city }}</p>
          </span>

          <span class="data-content">
            <p class="data-name">adresse</p>
            <p>{{ data.address }}</p>
          </span>

        </div>
      </section>
    {% endfor %}
  </div>
</section>