<div class="table" id="contract_table">
  <div class="table-content thead">
        <span class="ligne-content tr">
            {% for head in heads %}
              <p class="th">{{ head }}</p>
            {% endfor %}
        </span>
  </div>
  <div class="table-content tbody">
    {% for contract in data %}
      <span class="ligne-content tr">
                <p class="td">{{ contract.startAt | date('d/m/y') }}</p>
                <p class="td">{{ contract.endAt | date('d/m/y')}}</p>
                <a class="td" href="{{ path('app_contract_selected',{'id':contract.id}) }}">
                    <span class="btn">
                        sélect
                    </span>
                </a>
            </span>
    {% endfor %}
  </div>
</div>