<section class="data">
  <h3>Payments info</h3>

  <div class="data-container">
    {% for payment in payments %}
      <section class="data-folder">
        <div>
          <span class="data-content">
            <p class="data-name">date de création</p>
            <p>{{ payment.createdAt | date("d/m/Y") }}</p>
          </span>

          <span class="data-content">
            <p class="data-name">somme</p>
            <p class="inventory-remark">{{ payment.sum }}</p>
          </span>
        </div>
        <div>
{#          <a href="{{ path('',{'id':})}}">See</a>#}
        </div>
      </section>
    {% endfor %}
  </div>
</section>