<div class="row">
  <span class="info-element">
    <p class="name-data">Début</p>
    <p>{{ contract.startAt | date('d/m/Y') }}</p>
  </span>

  <span class="info-element">
    <p class="name-data">fin</p>
    <p>{{ contract.endAt | date('d/m/Y') }}</p>
  </span>

  <span class="info-element">
    <p class="name-data">type payment</p>
    <p>{{ contract.typePayment.name }}</p>
  </span>
</div>