.canvas-form{
  position: absolute;
  top: 0;
  right: 0;
  height:100vh;
  width: 40rem;
  background: $light;
  border-left:2px solid $dark;
  border-radius:10px 0 0 10px;
  transition: width ease .5s;
  @include flex(row,center,center);
  form{
    width: 90%;
    transition: width ease .5s;
    @include flex(column,space-around,center);
    &.hidden{
      width: 0;
      overflow: hidden;
    }
    .field-content{
      width: 80%;
      @include flex(column,space-around,none);
      .form-element{
        padding: .5rem;
        width: 100%;
        @include flex(row, space-between,center);
        .label{
          width: 40%;
          &:first-letter{
            text-transform: uppercase;
          }
          &:after{
            content : ':';
          }
          .required{
            &:after{
              content: '*';
              color: red;
              font-size:20px;
            }
          }
          label{
            cursor: pointer;
          }
        }
        .input{
          width: 60%;
          @include flex(row,flex-end,none);
          input{
            width: 90%;
            padding: .4rem;
            @include border(1px,$dark,5px);
          }
          select{
            width: 90%;
          }
        }
      }
    }
    .message-required{
      @include flex(row,none,center);
      gap : .2rem;
      .red{
        color: red;
      }
    }

    .button-content{
      width: 100%;
      @include flex(row,space-around,center);
    }
  }
  &.close{
    width: 0;
    overflow: hidden;
  }
}