#response-container {
  width: 94%;
  position: absolute;
  bottom: .5rem;
  padding: .5rem;
  @include flex(row,center,center);
  transition: all ease .5s;
  &.hidden{
    overflow: hidden;
    height: 0;
    padding: 0;
  }
  &.error{
    background: $error;
    color: $light;
  }
  &.success{
    background: $valid;
    color: $light;
  }
  #response-content {
    text-align: center;
  }
}