$dark : #393b44;
$light : #f1f3f8;
$medium : #c0c0c0;

$valid : #2E8B57;
$cancel : #B8860B;
$delete : #8C2E35;

$accent : #2185D5;
$error : #E87000;

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');//"Bungee Spice"
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script:wght@400..700&display=swap'); //"Dancing Script"