{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
  <main>
    <header class="page-header">
      <h2>Gestion {{ page_name }}</h2>

    </header>
    <section class="table-content">
      {% include 'controller/data-visualizer/contract/_table.html.twig' %}
    </section>
    {% include 'controller/form/utility/_canvas.html.twig' %}
    {% include 'controller/form/utility/_response.html.twig' %}
  </main>
{% endblock %}