{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
{#  <header class="page-header all">#}
{#    <h2>Gestion {{ page_name }}</h2>#}
{#  </header>#}
  <main>
    <section class="table-content">
      {% include 'contract/data_visualizer/all.html.twig' %}
    </section>
{#    <section class="section-form" id="contract-add">#}
{#      {% include 'controller/form/contrat.html.twig' %}#}
{#    </section>#}
  </main>
{% endblock %}