{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
  <h2>Gestion {{page_name}}</h2>
  <main>
    <header class="page-header">
      <h2>Gestion {{ page_name }}</h2>

    </header>
{#    <article>#}
{#      {%include 'contract/data_visualizer/_apartment.html.twig' %}#}
{#      {%include 'contract/data_visualizer/payment.html.twig' %}#}
{#      {%include 'contract/data_visualizer/receipt.html.twig' %}#}
{#    </article>#}
{#    {% include 'controller/form/_contrat.html.twig' %}#}
  </main>
{% endblock %}