{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
  <main>
    <header class="page-header">
      <h2>Gestion {{ page_name }}</h2>
    </header>

    <article class="view-data">
      <article class="data-container">
        <section class="flex-container">
          {% include 'controller/data-visualizer/contract/_selected.html.twig' %}
        </section>
        <section class="flex-container">
          <h4>Appartment</h4>
          {% include'controller/data-visualizer/apartment/_selected.html.twig' %}
        </section>
        <section class="flex-container">
          <h4>Locataire</h4>
          {% include'controller/data-visualizer/tenant/_selected.html.twig' %}
        </section>
      </article>

      <article class="data-container">
        <section class="flex-container">
          <h4>Paiements</h4>
        </section>
        <section class="flex-container">
          <h4>Quittance</h4>
        </section>
      </article>
    </article>

    {% include 'controller/form/_canvas.html.twig' %}
  </main>
{% endblock %}