{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}

  <main>
    {#  <header class="page-header all">#}
    {#    <h2>Gestion {{ page_name }}</h2>#}
    {#  </header>#}
    <article class="table-content">
      {%include 'owner/data_visualizer/all.html.twig' %}
    </article>
{#    <section class="section-table" id="owner-add">#}
{#      {%include 'controller/form/owner.html.twig' %}#}
{#    </section>#}
  </main>
{% endblock %}