{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}

  <main>
    <header class="page-header">
      <h2>Gestion {{ page_name }}</h2>
      {% include 'controller/button-form/add/_owner.html.twig' %}
    </header>
    <article class="table-content">
      {%include 'owner/data_visualizer/_all.html.twig' %}
    </article>
    <section class="canvas-form close">
      <button type="button" class="btn-close">
			<span class="icon-content">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
					<path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/>
				</svg>
			</span>
      </button>
      {%include 'controller/form/_owner.html.twig' %}
    </section>
  </main>
{% endblock %}