{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}

{% block body %}
  <header class="page-header all">
    <h2>Gestion {{ page_name }}</h2>
  </header>
  <main>
    <section class="section-table" id="owner-table">
      {%include 'owner/data_visualizer/all.html.twig' %}
    </section>
    <section class="section-table" id="owner-add">
      {%include 'controller/form/owner.html.twig' %}
    </section>
  </main>
{% endblock %}